<NavLink class="nav-link" href="forecast">
    <span class="oi oi-calendar"></span> Pronóstico Semanal
</NavLink>
<NavLink class="nav-link" href="current">
    <span class="oi oi-sun"></span> Clima Actual
</NavLink>
